<h1>Liste des cours</h1>
<div class="jumbotron">
    <div class="container">
      <h3 class="display-3">Cour de Programation </h3>
      <p>L'informatique est le domaine d'activité scientifique, technique et industriel concernant le traitement automatique de l'information par des machines : des systèmes embarqués, des ordinateurs, des robots, des automates, etc..</p>
      <p><a class="btn btn-danger" href="#" role="button">Lire la suite..</a></p>
    </div>
    <br>
    <br>
   
  </div>






  <style>
    h1 {
        
    text-align:center;
    }
    h3 {
        
        text-align:center;
        }
        p {
        
        text-align:center;
        }
        div{
          background-color: #EBEBEB;
        }
        br{
          background-color:white;
        }
        h2{
          background-color: white;
          color: white;
        }
    </style>