
<div class="jumbotron">
  
    <br>
    <div class="container">
        <h3 class="display-3">Cour de Web Design </h3>
        <p> le webdesigner est chargé de créer les interfaces web, mais il s'agit d'un métier qui demande également écoute et diplomatie. Il doit en effet respecter les envies de ses clients, toujours dans le but de capter l'attention des utilisateurs</p>
        <p><a class="btn btn-danger" href="#" role="button">Lire la suite..</a></p>
      </div>
  </div>






  <style>
 
    h3 {
        
        text-align:center;
        }
        p {
        
        text-align:center;
        }
        div{
          background-color: #EBEBEB;
        }
        br{
          background-color:white;
        }
        h2{
          background-color: white;
          color: white;
        }
    </style>